<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="990a3e85-e480-4bf7-878c-7deaa887ce39" Alias="contacts" Level="1">
  <Info>
    <Name>Contacts</Name>
    <Icon>icon-umb-members color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="7484f1f4-aca1-408f-8f0d-9ca93b88b840">contact</Composition>
      <Composition Key="4da99af8-0f67-41bb-a2aa-7756d433b867">sEO</Composition>
    </Compositions>
    <DefaultTemplate>Contacts</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="5022f7f2-3430-487c-a39f-71e32d1a50e6">Contacts</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="9e4b06f7-c411-4b68-9b6e-af2b6b56944c" SortOrder="0">thankYou</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>