<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="afa93288-40d1-4009-88e1-b1f79cf925af" Alias="form" Level="1">
  <Info>
    <Name>Form</Name>
    <Icon>icon-ordered-list color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Form</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="23ea232d-d566-49db-a551-b16a21d679ec">Form</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>9ae2a53f-0ded-4ff0-9f04-aa8c1711a199</Key>
      <Name>Form</Name>
      <Alias>trainingForm</Alias>
      <Definition>5b7d2e58-4d8a-403f-991c-8afd5ecd9faf</Definition>
      <Type>UmbracoForms.FormPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>1bdd5f06-b1b1-40a8-9cbd-294b268dd657</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>