<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="99a0b781-685f-49cd-9807-d67649daaf7c" Alias="landingPage" Level="1">
  <Info>
    <Name>Landing Page</Name>
    <Icon>icon-layout color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>LandingPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="6f80336c-ea3e-4b74-815d-fe9f5417dcdd">LandingPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>