<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="033e40c7-a0cc-45ea-bd22-8b9b3c7b0380" Alias="services" Level="1">
  <Info>
    <Name>Services</Name>
    <Icon>icon-layers color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Services</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="96bccce4-0bf0-42c9-acfe-64b87eaf5f6a">Services</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="0c171c5f-f0fa-44fd-bec1-e4dc306d17fd" SortOrder="0">service</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>