<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9e4b06f7-c411-4b68-9b6e-af2b6b56944c" Alias="thankYou" Level="1">
  <Info>
    <Name>ThankYou</Name>
    <Icon>icon-check color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>ThankYou</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8c3f6ffe-3239-4d89-9123-d265b5cfd245">ThankYou</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>db1fe54b-f1c3-4773-a0bd-23a971948c29</Key>
      <Name>Text</Name>
      <Alias>thankYouText</Alias>
      <Definition>67ddb9a0-cb92-472f-a146-0a8933c5ae11</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>baf3c149-3320-4212-a863-66de9a480fc4</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>