@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
  var image = Model.Value<Umbraco.Cms.Core.Models.PublishedContent.IPublishedContent>("image");
  var imageUrl = image?.Url();
}

<section>
  <div class="container mx-auto flex flex-col items-center justify-center py-20 px-3 lg:px-0" style="background-color: #@Model.Value("backgroundColor");">
    @if (!string.IsNullOrEmpty(imageUrl))
    {
      <img src="@imageUrl" alt="Adductio" />
    }
    <div class="mt-4 text-white text-center text-2xl font-medium leading-relaxed">@Model.Value("text")</div>
  </div>
</section>