<?xml version="1.0" encoding="utf-8"?>
<Macro Key="22ea6f08-b0c7-4792-b0a4-c3041de94fd7" Alias="FormTest" Level="0">
  <Name>FormTest</Name>
  <MacroSource>~/Views/MacroPartials/InsertUmbracoFormWithTheme.cshtml</MacroSource>
  <UseInEditor>false</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties />
</Macro>