@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage;

@{
	Layout = "Master.cshtml";
}

<section class="mt-20">
	<div class="container">
		<h1 class="text-adductioBlue text-5xl font-bold">@Model.Name</h1>
	</div>
</section>
<section class="my-10">
	<div class="container">
		<div class="relative pb-[50%] -ml-10 -mr-10">
			<!-- google maps -->
			@* <iframe class="absolute inset-0 w-full h-full" width="100" height="auto" style="border:0" loading="lazy"
					allowfullscreen referrerpolicy="no-referrer-when-downgrade" src="https://www.google.com/maps/embed/v1/place?key=API_KEY
            &q=Space+Needle,Seattle+WA">
			</iframe> *@

			<!-- uMap (OpenStreetMap) -->
			@*  uMap edit link: https://umap.openstreetmap.fr/pt-pt/map/anonymous-edit/1095994:OnMwmqBAfuMdFUadCeY-fAgqV1Ro7kbgw1hCiKZzDAE  *@
			<iframe class="absolute inset-0 w-full h-full" width="100%" style="border:0" loading="lazy" allowfullscreen allow="geolocation"
					src="//umap.openstreetmap.fr/pt-pt/map/mapa-sem-nome_1095994?scaleControl=false&miniMap=false&scrollWheelZoom=false&zoomControl=true&editMode=disabled&moreControl=false&searchControl=false&tilelayersControl=false&embedControl=false&datalayersControl=false&onLoadPanel=none&captionBar=false&captionMenus=false&captionControl=false&starControl=false&editinosmControl=false&measureControl=false&locateControl=false"></iframe><p><a href="//umap.openstreetmap.fr/pt-pt/map/mapa-sem-nome_1095994?scaleControl=false&miniMap=false&scrollWheelZoom=true&zoomControl=true&editMode=disabled&moreControl=false&searchControl=false&tilelayersControl=false&embedControl=false&datalayersControl=false&onLoadPanel=none&captionBar=false&captionMenus=false&captionControl=false&starControl=false&editinosmControl=false&measureControl=false&locateControl=false">Ver em ecrã total</a></p>
		</div>
	</div>
</section>
@await Html.PartialAsync("global/ContactForm")