@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage;

@{
	Layout = "Master.cshtml";
}
<section>
	<div>
		<h1>@Model.Name</h1>
	</div>
</section>

@await Html.PartialAsync("global/Who")
@await Html.PartialAsync("global/ContactForm")