<?xml version="1.0" encoding="utf-8"?>
<PreValue Key="d0b747bf-41e8-4bca-a024-c0ea7f31e081" Alias="ServicesText">
  <Info>
    <Name>ServicesText</Name>
    <FieldPreValueSourceTypeId>35c2053e-cbf7-4793-b27c-6e97b7671a2d</FieldPreValueSourceTypeId>
  </Info>
  <Settings>{
  "TextFile": "PreValueTextFiles/d34a636c-41d5-4f66-a6ae-7f77cff9f81e/adductio-services-prevalues.txt"
}</Settings>
</PreValue>