<?xml version="1.0" encoding="utf-8"?>
<PreValue Key="5ec0008f-b356-41d3-b8ee-a7fb6fff0afd" Alias="ServicesList">
  <Info>
    <Name>ServicesList</Name>
    <FieldPreValueSourceTypeId>de996870-c45a-11de-8a39-0800200c9a66</FieldPreValueSourceTypeId>
  </Info>
  <Settings>{
  "ValueField": "Name",
  "RootNode": "__c53352a1-f0b6-427c-87cd-df9a8f2c3e72__",
  "UseCurrentPage": "False",
  "DocType": "service",
  "ListGrandChildren": "False",
  "OrderBy": ""
}</Settings>
</PreValue>