<?xml version="1.0" encoding="utf-8"?>
<PreValue Key="d0b747bf-41e8-4bca-a024-c0ea7f31e081" Alias="test">
  <Info>
    <Name>test</Name>
    <FieldPreValueSourceTypeId>de996870-c45a-11de-8a39-0800200c9a66</FieldPreValueSourceTypeId>
  </Info>
  <Settings>{
  "ValueField": "Name",
  "RootNode": "__c53352a1-f0b6-427c-87cd-df9a8f2c3e72__",
  "UseCurrentPage": "False",
  "DocType": "service",
  "ListGrandChildren": "True",
  "OrderBy": ""
}</Settings>
</PreValue>