<?xml version="1.0" encoding="utf-8"?>
<forms-form Key="1665fe9c-0ec9-481a-af4b-49b6781c4080" Alias="Contact">
  <Info>
    <Name>Contact</Name>
    <FieldIndicationType>MarkMandatoryFields</FieldIndicationType>
    <Indicator>*</Indicator>
    <ShowValidationSummary>false</ShowValidationSummary>
    <HideFieldValidation>false</HideFieldValidation>
    <RequireErrorMessage>#mandatory</RequireErrorMessage>
    <InvalidErrorMessage>#mandatory</InvalidErrorMessage>
    <MessageOnSubmit>Thank you</MessageOnSubmit>
    <GoToPageOnSubmit>00000000-0000-0000-0000-000000000000</GoToPageOnSubmit>
    <XPathOnSubmit></XPathOnSubmit>
    <ManualApproval>false</ManualApproval>
    <StoreRecordsLocally>true</StoreRecordsLocally>
    <CssClass>form</CssClass>
    <DisabledDefaultStylesheet>false</DisabledDefaultStylesheet>
    <AutocompleteAttribute></AutocompleteAttribute>
    <Workflows>
      <Workflow>
        <Id>f811cb39-c190-4886-8a55-2d15e8def2c4</Id>
        <Name>Send template email to fmtmarques@gmail.com</Name>
        <Active>true</Active>
        <IncludeSensitiveData>False</IncludeSensitiveData>
        <WorkflowTypeId>17c61629-d984-4e86-b43b-a8407b3efea9</WorkflowTypeId>
        <ExecutesOn>Submitted</ExecutesOn>
        <SortOrder>1</SortOrder>
        <Settings><![CDATA[{
  "Email": "fmtmarques@gmail.com",
  "CcEmail": "",
  "BccEmail": "",
  "SenderEmail": "",
  "ReplyToEmail": "",
  "Subject": "The Form '{form_name}' was submitted",
  "RazorViewFilePath": "Forms/Emails/Example-Template.cshtml",
  "HeaderHtml": "",
  "FooterHtml": "",
  "Attachment": ""
}]]></Settings>
      </Workflow>
    </Workflows>
    <DataSource />
    <Folder></Folder>
    <SubmitLabel>#submit</SubmitLabel>
    <NextLabel>Next</NextLabel>
    <PreVLabel>Previous</PreVLabel>
  </Info>
  <Pages><![CDATA[[
  {
    "fieldSets": [
      {
        "caption": null,
        "sortOrder": 0,
        "id": "1bf28c5e-58ed-4b07-b360-d4791599db4e",
        "page": "00000000-0000-0000-0000-000000000000",
        "containers": [
          {
            "caption": "",
            "width": 12,
            "fields": [
              {
                "caption": "Name",
                "tooltip": null,
                "placeholder": null,
                "cssClass": null,
                "alias": "name",
                "id": "d2c31c6e-517c-4724-b8cc-f31ccf55798f",
                "fieldTypeId": "3f92e01b-29e2-4a30-bf33-9df5580ed52c",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": true,
                "regex": null,
                "requiredErrorMessage": null,
                "invalidErrorMessage": null,
                "condition": {
                  "id": "7bd9088a-434d-4677-8708-54502a9b9894",
                  "enabled": false,
                  "actionType": "Show",
                  "logicType": "All",
                  "rules": []
                },
                "settings": {
                  "DefaultValue": "",
                  "Placeholder": "#name",
                  "ShowLabel": "False",
                  "MaximumLength": "",
                  "FieldType": "text",
                  "AutocompleteAttribute": ""
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "Phone",
                "tooltip": null,
                "placeholder": null,
                "cssClass": null,
                "alias": "phone",
                "id": "6bf1ee54-8052-4a7c-9c6c-15d21e594bb4",
                "fieldTypeId": "3f92e01b-29e2-4a30-bf33-9df5580ed52c",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": false,
                "regex": null,
                "requiredErrorMessage": null,
                "invalidErrorMessage": null,
                "condition": {
                  "id": "a04fe4eb-4386-4623-8291-a6fac926b0bf",
                  "enabled": false,
                  "actionType": "Show",
                  "logicType": "All",
                  "rules": []
                },
                "settings": {
                  "DefaultValue": "",
                  "Placeholder": "#phone",
                  "ShowLabel": "False",
                  "MaximumLength": "",
                  "FieldType": "number",
                  "AutocompleteAttribute": ""
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "Email",
                "tooltip": null,
                "placeholder": null,
                "cssClass": null,
                "alias": "email",
                "id": "a0442106-2d32-43cb-a82c-0327bb5c2303",
                "fieldTypeId": "3f92e01b-29e2-4a30-bf33-9df5580ed52c",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": true,
                "regex": "^[a-zA-Z0-9_\\.\\+-]+@[a-zA-Z0-9-]+\\.[a-zA-Z0-9-\\.]+$",
                "requiredErrorMessage": null,
                "invalidErrorMessage": null,
                "condition": {
                  "id": "f2b0f503-410f-429a-90ad-ee6bb2eb41db",
                  "enabled": false,
                  "actionType": "Show",
                  "logicType": "All",
                  "rules": []
                },
                "settings": {
                  "DefaultValue": "",
                  "Placeholder": "#email",
                  "ShowLabel": "False",
                  "MaximumLength": "",
                  "FieldType": "email",
                  "AutocompleteAttribute": ""
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "Subject",
                "tooltip": null,
                "placeholder": null,
                "cssClass": null,
                "alias": "subject",
                "id": "ab74b1e8-e4c2-4abc-aefe-4c033559411c",
                "fieldTypeId": "0dd29d42-a6a5-11de-a2f2-222256d89593",
                "prevalueSourceId": "ServicesList",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": false,
                "regex": "",
                "requiredErrorMessage": null,
                "invalidErrorMessage": "",
                "condition": {
                  "id": "1286a541-ebc4-424e-a85e-a78414507e60",
                  "enabled": false,
                  "actionType": "Show",
                  "logicType": "All",
                  "rules": []
                },
                "settings": {
                  "DefaultValue": "",
                  "AllowMultipleSelections": "False",
                  "ShowLabel": "False",
                  "AutocompleteAttribute": "",
                  "SelectPrompt": "[#serviceFormDropdown]"
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "Message",
                "tooltip": null,
                "placeholder": null,
                "cssClass": null,
                "alias": "message",
                "id": "a3ee134b-e1a8-4486-9c37-75ab732200c2",
                "fieldTypeId": "023f09ac-1445-4bcb-b8fa-ab49f33bd046",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": true,
                "regex": null,
                "requiredErrorMessage": null,
                "invalidErrorMessage": null,
                "condition": {
                  "id": "a73f0e82-8941-472d-b83b-0a9d10174421",
                  "enabled": false,
                  "actionType": "Show",
                  "logicType": "All",
                  "rules": []
                },
                "settings": {
                  "DefaultValue": "",
                  "Placeholder": "#message",
                  "ShowLabel": "False",
                  "AutocompleteAttribute": "",
                  "NumberOfRows": "2",
                  "MaximumLength": ""
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "Mandatory Fields",
                "tooltip": null,
                "placeholder": null,
                "cssClass": null,
                "alias": "mandatoryFields",
                "id": "e0ee1f5f-cede-419f-bb5e-64ff86ec14c9",
                "fieldTypeId": "e3fbf6c4-f46c-495e-aff8-4b3c227b4a98",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": false,
                "regex": "",
                "requiredErrorMessage": null,
                "invalidErrorMessage": "",
                "condition": {
                  "id": "9a38de1f-9871-4c84-9212-62df8429ecf8",
                  "enabled": false,
                  "actionType": "Show",
                  "logicType": "All",
                  "rules": []
                },
                "settings": {
                  "CaptionTag": "",
                  "Caption": "",
                  "BodyText": "#required",
                  "ShowLabel": "False"
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "Terms",
                "tooltip": null,
                "placeholder": null,
                "cssClass": null,
                "alias": "terms",
                "id": "ec3d5dda-8ab0-4539-fd10-64ec6058286e",
                "fieldTypeId": "a72c9df9-3847-47cf-afb8-b86773fd12cd",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": true,
                "regex": "",
                "requiredErrorMessage": "#consent",
                "invalidErrorMessage": "",
                "condition": {
                  "id": "3cfd5ed7-d6d6-4684-848a-84695aea9e99",
                  "enabled": false,
                  "actionType": "Show",
                  "logicType": "All",
                  "rules": []
                },
                "settings": {
                  "AcceptCopy": "#terms",
                  "ShowLabel": "False"
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "Agree",
                "tooltip": null,
                "placeholder": null,
                "cssClass": null,
                "alias": "agree",
                "id": "9ecdca3e-b39b-46fc-fac6-fcb397b0b3ce",
                "fieldTypeId": "a72c9df9-3847-47cf-afb8-b86773fd12cd",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": true,
                "regex": "",
                "requiredErrorMessage": "#consent",
                "invalidErrorMessage": "",
                "condition": {
                  "id": "fdd4f791-559c-417a-b475-cb509a2293e5",
                  "enabled": false,
                  "actionType": "Show",
                  "logicType": "All",
                  "rules": []
                },
                "settings": {
                  "AcceptCopy": "#agree",
                  "ShowLabel": "False"
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              }
            ]
          }
        ],
        "condition": {
          "id": "322b4274-788d-4a58-99a1-7c9824b4a03d",
          "enabled": false,
          "actionType": "Show",
          "logicType": "All",
          "rules": []
        }
      }
    ],
    "caption": null,
    "sortOrder": 0,
    "id": "05464798-57eb-4a97-a202-0f3c0e397327",
    "form": "00000000-0000-0000-0000-000000000000",
    "buttonCondition": null
  }
]]]></Pages>
</forms-form>