<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="775ef0e0-3943-4838-94a9-0e21e487d5dd" Alias="advancedexcel" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Advanced Excel</Translation>
    <Translation Language="pt-PT">Excel avançado</Translation>
  </Translations>
</Dictionary>