<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="eed784b2-0157-4f08-bcac-588a01224581" Alias="advancedword" Level="1">
  <Info>
    <Parent>Forms</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Advanced Word</Translation>
    <Translation Language="pt-PT">Word avançado</Translation>
  </Translations>
</Dictionary>