<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="425eb9fd-4524-4ceb-8a73-d4958027f743" Alias="agree" Level="1">
  <Info>
    <Parent>Forms.Contact</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">I accept that my data will be used for promotional and publicity purposes by Adductio.</Translation>
    <Translation Language="pt-PT">Aceito que os meus dados sejam utilizados para fins de promoção e divulgação por parte da Adductio.</Translation>
  </Translations>
</Dictionary>