<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="77736b4c-bdab-48e8-afb9-fc6250f41eeb" Alias="arduino" Level="1">
  <Info>
    <Parent>Forms</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Arduino</Translation>
    <Translation Language="pt-PT">Arduíno</Translation>
  </Translations>
</Dictionary>