<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7283e9bc-7cd9-487d-841e-b53f7a0c931e" Alias="areasofinterest" Level="1">
  <Info>
    <Parent>Forms</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Other areas of interest</Translation>
    <Translation Language="pt-PT">Outras áreas de interesse</Translation>
  </Translations>
</Dictionary>