<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="99791cd5-d8d6-409e-bdab-60c91cf378f8" Alias="consent" Level="2">
  <Info>
    <Parent>Forms.Global</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Consent is required to store and process the data in this form.</Translation>
    <Translation Language="pt-PT">É necessário consentimento para armazenar e processar os dados neste formulário.</Translation>
  </Translations>
</Dictionary>