<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2c791c10-a02c-4dd3-b006-15a2356a0e8a" Alias="coursesuggestions" Level="1">
  <Info>
    <Parent>Forms</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Course suggestions</Translation>
    <Translation Language="pt-PT">Sugestões de curso</Translation>
  </Translations>
</Dictionary>