<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="53b74e7f-ccc0-4cb2-9e11-30fe8ad2f9e0" Alias="employer" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Employer *</Translation>
    <Translation Language="pt-PT">Empregador *</Translation>
  </Translations>
</Dictionary>