<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1f3ae8ac-eb8f-4fc0-84c4-694e80917359" Alias="english" Level="1">
  <Info>
    <Parent>Forms</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">English</Translation>
    <Translation Language="pt-PT">Inglês</Translation>
  </Translations>
</Dictionary>