<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4d6d3e65-bb90-4bfa-925e-82ec3b1ca4c0" Alias="environmentalcertification" Level="1">
  <Info>
    <Parent>Forms</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Environmental certification of enterprises</Translation>
    <Translation Language="pt-PT">Certificação ambiental de empreendimentos</Translation>
  </Translations>
</Dictionary>