<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1cb10465-7b72-4bc7-ac1e-06ca97be10cc" Alias="epanetmodeling" Level="1">
  <Info>
    <Parent>Forms.Training.ExpressionOfInterest</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Modeling with epanet</Translation>
    <Translation Language="pt-PT">Modelação com epanet</Translation>
  </Translations>
</Dictionary>