<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ef84c2ff-c715-4fbe-b529-a39c2549b87a" Alias="expressionofinterest" Level="1">
  <Info>
    <Parent>Forms</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Expression of interest in courses</Translation>
    <Translation Language="pt-PT">Manifestação de interesse em cursos</Translation>
  </Translations>
</Dictionary>