<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ae767391-2da8-4d34-a86b-cd85834e859e" Alias="Forms.Global" Level="1">
  <Info>
    <Parent>Forms</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US"></Translation>
    <Translation Language="pt-PT"></Translation>
  </Translations>
</Dictionary>