<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="fc3d01a9-600f-44b7-a576-25886138ce2d" Alias="Forms.Contact.Email" Level="2">
  <Info>
    <Parent>Forms.Contact</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US"></Translation>
    <Translation Language="pt-PT"></Translation>
  </Translations>
</Dictionary>