<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="639f194c-9025-49a6-bc25-b2fe2218bc93" Alias="Forms.Training.Training" Level="2">
  <Info>
    <Parent>Forms.Training</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Training *</Translation>
    <Translation Language="pt-PT">Formação *</Translation>
  </Translations>
</Dictionary>