<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ee404fbe-1625-4cc6-a9c9-35860b98e378" Alias="Forms.Contact.Email.FooterText" Level="3">
  <Info>
    <Parent>Forms.Contact.Email</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">We'll reply as soon as possible, </Translation>
    <Translation Language="pt-PT">Vamos responder assim que possível.</Translation>
  </Translations>
</Dictionary>