<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="0855d4fd-8690-4fbe-b252-d59b720e10b0" Alias="Forms.Contact.Email.HeaderText" Level="3">
  <Info>
    <Parent>Forms.Contact.Email</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Thank you for your interest.</Translation>
    <Translation Language="pt-PT">Obrigado pelo interesse.</Translation>
  </Translations>
</Dictionary>