<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5a947822-df93-41e2-b85a-0550383f089d" Alias="Forms.Training.Location" Level="2">
  <Info>
    <Parent>Forms.Training</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">If in person, what is your preferred location?</Translation>
    <Translation Language="pt-PT">Sendo presencial, qual o local preferido?</Translation>
  </Translations>
</Dictionary>