<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a49f5d77-3df4-4c4d-be31-1c1664ae2f6b" Alias="Forms.Contacts.Email.Subject" Level="3">
  <Info>
    <Parent>Forms.Contact.Email</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Adductio - Thank you for your contact</Translation>
    <Translation Language="pt-PT">Adductio - Obrigado pelo seu contacto</Translation>
  </Translations>
</Dictionary>