<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7021677d-d459-4638-a251-5f44d779a3d2" Alias="Forms.Training.Languages" Level="2">
  <Info>
    <Parent>Forms.Training</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">In which languages ​​can you accept courses? *</Translation>
    <Translation Language="pt-PT">Em que idiomas pode aceitar os cursos? *</Translation>
  </Translations>
</Dictionary>