<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1cd0b5d1-61bc-49be-9627-0f09dd5fa1e3" Alias="Forms.Training.WhatAreas" Level="2">
  <Info>
    <Parent>Forms.Training</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">What areas would you like to be contacted about?</Translation>
    <Translation Language="pt-PT">Sobre que áreas gostaria de ser contactado?</Translation>
  </Translations>
</Dictionary>