<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="738ac344-fa1b-49e5-9dbd-90e0df223df8" Alias="Form.Contact.Email.SuccessMessage" Level="3">
  <Info>
    <Parent>Forms.Contact.Email</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Thank you. We'll reply as soon as possible.</Translation>
    <Translation Language="pt-PT">Obrigado. Vamos responder com a brevidade possível.</Translation>
  </Translations>
</Dictionary>