<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7e10787d-a1c8-4af7-87ea-49b2838bf046" Alias="Forms.Training.ExpressionOfInterest" Level="2">
  <Info>
    <Parent>Forms.Training</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Expression of interest in courses</Translation>
    <Translation Language="pt-PT">Manifestação de interesse em cursos</Translation>
  </Translations>
</Dictionary>