<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d36a4d1f-a833-4883-8bac-ef86a2ff22f5" Alias="french" Level="1">
  <Info>
    <Parent>Forms.Languages</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">French</Translation>
    <Translation Language="pt-PT">Francês</Translation>
  </Translations>
</Dictionary>