<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="4609c694-b42d-46f0-9542-1008db205b54" Alias="generalenvironment" Level="1">
  <Info>
    <Parent>Forms</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">General environment</Translation>
    <Translation Language="pt-PT">Ambiente em geral</Translation>
  </Translations>
</Dictionary>