<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="662ec9b3-3396-4747-8b02-26440d362874" Alias="homepage" Level="1">
  <Info>
    <Parent>Global</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Homepage</Translation>
    <Translation Language="pt-PT">Página inicial</Translation>
  </Translations>
</Dictionary>