<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="dd7a4d53-9f53-4ffb-b548-3f1c1720351a" Alias="ifinperson" Level="1">
  <Info>
    <Parent>Forms</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">If in person, what is your preferred location?</Translation>
    <Translation Language="pt-PT">Sendo presencial, qual o local preferido?</Translation>
  </Translations>
</Dictionary>