<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="7f50461c-71c2-4d8d-82c9-6955bf97dc13" Alias="knowmore" Level="1">
  <Info>
    <Parent>Global</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">I want to know more</Translation>
    <Translation Language="pt-PT">Quero saber mais</Translation>
  </Translations>
</Dictionary>