<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="06fee809-8111-4dec-8090-d5964be6fe1a" Alias="latex" Level="1">
  <Info>
    <Parent>Forms.Training.ExpressionOfInterest</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Latex</Translation>
    <Translation Language="pt-PT">Latex</Translation>
  </Translations>
</Dictionary>