<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="b99f2e24-3678-420f-b91a-c299951e0bd5" Alias="leachate" Level="1">
  <Info>
    <Parent>Forms.Training.ExpressionOfInterest</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Leachate water treatment</Translation>
    <Translation Language="pt-PT">Tratamento de águas lixiviantes</Translation>
  </Translations>
</Dictionary>