<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f7a79cc6-3df6-4b98-905f-d9f91dc7db41" Alias="mandatory" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">This field is required</Translation>
    <Translation Language="pt-PT">Este campo é obrigatório</Translation>
  </Translations>
</Dictionary>