<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="be464159-cf29-4677-a73c-20d6674cbb89" Alias="message" Level="1">
  <Info>
    <Parent>Forms.Contact</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Message *</Translation>
    <Translation Language="pt-PT">Mensagem *</Translation>
  </Translations>
</Dictionary>