<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="cd1617d1-6f00-458b-8d88-02eaea00f36d" Alias="name" Level="1">
  <Info>
    <Parent>Forms</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Name *</Translation>
    <Translation Language="pt-PT">Nome *</Translation>
  </Translations>
</Dictionary>