<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5c21b369-92ef-41a7-8515-e362bfc63dca" Alias="otherareas" Level="1">
  <Info>
    <Parent>Forms.Training.WhatAreas</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Other areas</Translation>
    <Translation Language="pt-PT">Outras áreas</Translation>
  </Translations>
</Dictionary>