<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="f49a2e5d-5b72-446f-860d-d379c3022d43" Alias="ourservices" Level="1">
  <Info>
    <Parent>Global</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Our services</Translation>
    <Translation Language="pt-PT">Os nossos serviços</Translation>
  </Translations>
</Dictionary>