<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="36e01b54-f08a-4e29-aaf4-69ead3ae282f" Alias="portuguese" Level="1">
  <Info>
    <Parent>Forms.Languages</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Portuguese</Translation>
    <Translation Language="pt-PT">Português</Translation>
  </Translations>
</Dictionary>