<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ce73f1d4-b0ae-4734-bd8f-b09e0a00aba6" Alias="qualitysimulation" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Water quality simulation</Translation>
    <Translation Language="pt-PT">Simulação da qualidade da água</Translation>
  </Translations>
</Dictionary>