<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="001c6b64-5a1a-45fe-8f52-569514db168b" Alias="required" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">* required fields</Translation>
    <Translation Language="pt-PT">* campos obrigatórios</Translation>
  </Translations>
</Dictionary>