<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ee934523-dbf7-473a-9529-3fe8ce5213aa" Alias="reverseosmosis" Level="1">
  <Info>
    <Parent>Forms.Training.ExpressionOfInterest</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Reverse osmosis</Translation>
    <Translation Language="pt-PT">Osmose inversa</Translation>
  </Translations>
</Dictionary>