<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="671b6f72-abbc-491d-ba0e-4134e7ac302e" Alias="solidwaste" Level="1">
  <Info>
    <Parent>Forms</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Solid waste</Translation>
    <Translation Language="pt-PT">Resíduos sólidos</Translation>
  </Translations>
</Dictionary>