<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e2d9ea4a-9139-463e-a2d1-1cd6ed89175c" Alias="spanish" Level="1">
  <Info>
    <Parent>Forms</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Spanish</Translation>
    <Translation Language="pt-PT">Espanhol</Translation>
  </Translations>
</Dictionary>