<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="07b8a73c-8384-4d59-81c4-92407f726c6a" Alias="subject" Level="1">
  <Info>
    <Parent>Forms.Contact</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Subject</Translation>
    <Translation Language="pt-PT">Assunto</Translation>
  </Translations>
</Dictionary>