<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5ae0aa6c-c01e-407e-b035-d37eee0555bd" Alias="submit" Level="1">
  <Info>
    <Parent>Forms</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Submit</Translation>
    <Translation Language="pt-PT">Submeter</Translation>
  </Translations>
</Dictionary>