<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d98f25ca-4050-44b1-82c4-73992968fb27" Alias="terms" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">I have read and accept the terms and conditions.</Translation>
    <Translation Language="pt-PT">Li e aceito os termos e condições.</Translation>
  </Translations>
</Dictionary>