<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="a18bc3e1-0e0f-42eb-adb7-dc8e37006004" Alias="wastewatersystems" Level="1">
  <Info>
    <Parent>Forms</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Wastewater systems</Translation>
    <Translation Language="pt-PT">Sistemas de águas residuais</Translation>
  </Translations>
</Dictionary>