<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="53e4b434-7e30-4928-9818-a46e347f4e07" Alias="watersupply" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Water supply system</Translation>
    <Translation Language="pt-PT">Sistema de abastecimento de água</Translation>
  </Translations>
</Dictionary>