<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="18b7fa37-1ef7-4e03-aee8-baacf7108203" Alias="whatareas" Level="1">
  <Info>
    <Parent>Forms</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">What areas would you like to be contacted about?</Translation>
    <Translation Language="pt-PT">Sobre que áreas gostaria de ser contactado?</Translation>
  </Translations>
</Dictionary>