<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="cffad1ca-7d6e-4521-a4d9-b9afa52faa58" Alias="wherecourses" Level="1">
  <Info>
    <Parent>Forms</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Online or in person? *</Translation>
    <Translation Language="pt-PT">Online ou presencial? *</Translation>
  </Translations>
</Dictionary>