<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="5db518cc-a212-4d23-a774-9dafcb3379ee" Alias="whichlanguages" Level="1">
  <Info>
    <Parent>Forms</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">In which languages ​​can you accept courses? *</Translation>
    <Translation Language="pt-PT">Em que idiomas pode aceitar os cursos? *</Translation>
  </Translations>
</Dictionary>