<?xml version="1.0" encoding="utf-8"?>
<Domain Key="10040ecf-0000-0000-0000-000000000000" Alias="adduct.io">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-US</Language>
    <Root Key="60a29f89-4ada-4027-b26a-1ad62fe28a42">/Coming Soon</Root>
    <SortOrder>0</SortOrder>
  </Info>
</Domain>