<?xml version="1.0" encoding="utf-8"?>
<Domain Key="127e6e5f-0000-0000-0000-000000000000" Alias="beta.adduct.io/en">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-US</Language>
    <Root Key="67b41068-1b78-48f2-8b8f-0e6615c30aad">/Home</Root>
    <SortOrder>3</SortOrder>
  </Info>
</Domain>