<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5b7d2e58-4d8a-403f-991c-8afd5ecd9faf" Alias="Contact - Form Picker" Level="1">
  <Info>
    <Name>Contact - Form Picker</Name>
    <EditorAlias>UmbracoForms.FormPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "AllowedForms": [
    "1665fe9c-0ec9-481a-af4b-49b6781c4080",
    "b48560f0-cde1-4239-a610-f67e1320f964"
  ]
}]]></Config>
</DataType>