<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d6f50fa7-1a5e-416d-aeb1-423e1b60799e" Alias="Dropdown (copy)" Level="1">
  <Info>
    <Name>Dropdown (copy)</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [],
  "Multiple": false
}]]></Config>
</DataType>