<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2d1d4b5f-76af-4ed1-bbb8-db4877acd2c0" Alias="Form - Form Theme Picker" Level="1">
  <Info>
    <Name>Form - Form Theme Picker</Name>
    <EditorAlias>UmbracoForms.ThemePicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>