<?xml version="1.0" encoding="utf-8"?>
<Media Key="fdef52cb-dd17-4ca2-a65d-68623116a8d5" Alias="Carousel 1" Level="2">
  <Info>
    <Parent Key="7b0ea173-b635-4e56-ae51-76050efd01d7">Services</Parent>
    <Path>/Services/Carousel1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-27T06:45:27</CreateDate>
    <NodeName Default="Carousel 1" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zvjo55ix/carousel-1.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>