<?xml version="1.0" encoding="utf-8"?>
<Media Key="0d72f539-29ea-4042-b599-1083d2ffd960" Alias="Carousel 3" Level="2">
  <Info>
    <Parent Key="7b0ea173-b635-4e56-ae51-76050efd01d7">Services</Parent>
    <Path>/Services/Carousel3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-27T06:45:27</CreateDate>
    <NodeName Default="Carousel 3" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/h50hedpk/carousel-3.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>