<?xml version="1.0" encoding="utf-8"?>
<Media Key="c668b861-9924-4d80-957b-72b29bc60560" Alias="Carousel 2" Level="2">
  <Info>
    <Parent Key="7b0ea173-b635-4e56-ae51-76050efd01d7">Services</Parent>
    <Path>/Services/Carousel2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-27T06:45:27</CreateDate>
    <NodeName Default="Carousel 2" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/m42grrre/carousel-2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>