<?xml version="1.0" encoding="utf-8"?>
<Media Key="925254b8-4e5e-4fbc-8d65-91282ba747a7" Alias="Hero 5" Level="2">
  <Info>
    <Parent Key="7b0ea173-b635-4e56-ae51-76050efd01d7">Services</Parent>
    <Path>/Services/Hero5</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-27T10:34:36</CreateDate>
    <NodeName Default="Hero 5" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xzkffes4/hero-5.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>