<?xml version="1.0" encoding="utf-8"?>
<Media Key="dc9c269b-7c7f-4fa2-a00a-f39dd4ac3880" Alias="Hero 6" Level="2">
  <Info>
    <Parent Key="7b0ea173-b635-4e56-ae51-76050efd01d7">Services</Parent>
    <Path>/Services/Hero6</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-27T10:34:36</CreateDate>
    <NodeName Default="Hero 6" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tutjzxd5/hero-6.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>