<?xml version="1.0" encoding="utf-8"?>
<Media Key="da8cd07e-68fc-48e4-9ff4-b8dec20a8ea6" Alias="Hero 4" Level="2">
  <Info>
    <Parent Key="7b0ea173-b635-4e56-ae51-76050efd01d7">Services</Parent>
    <Path>/Services/Hero4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-27T10:34:36</CreateDate>
    <NodeName Default="Hero 4" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pdiizwx2/hero-4.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>