<?xml version="1.0" encoding="utf-8"?>
<Media Key="a522f383-7045-4fb8-8afe-5ed56f0ba35b" Alias="Hero 9" Level="2">
  <Info>
    <Parent Key="7b0ea173-b635-4e56-ae51-76050efd01d7">Services</Parent>
    <Path>/Services/Hero9</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-27T10:34:36</CreateDate>
    <NodeName Default="Hero 9" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qxzdfjkf/hero-9.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>