<?xml version="1.0" encoding="utf-8"?>
<Media Key="543e2136-c8e6-4067-869d-b5f4e3663972" Alias="Hero Logo" Level="2">
  <Info>
    <Parent Key="9dc7f8a8-9506-4105-b8b8-7089e34112e4">Home</Parent>
    <Path>/Home/HeroLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-06-19T18:55:09</CreateDate>
    <NodeName Default="Hero Logo" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/a2qd2vhg/hero-logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>