<?xml version="1.0" encoding="utf-8"?>
<Media Key="df48e3a7-9b39-4516-9347-4442edfcb760" Alias="Hero 7" Level="2">
  <Info>
    <Parent Key="7b0ea173-b635-4e56-ae51-76050efd01d7">Services</Parent>
    <Path>/Services/Hero7</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-27T10:34:36</CreateDate>
    <NodeName Default="Hero 7" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/uhrfrxzz/hero-7.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>