<?xml version="1.0" encoding="utf-8"?>
<Media Key="3c360ecb-84c1-4f17-9941-edbcf3469ccb" Alias="Hero 8" Level="2">
  <Info>
    <Parent Key="7b0ea173-b635-4e56-ae51-76050efd01d7">Services</Parent>
    <Path>/Services/Hero8</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-27T10:34:36</CreateDate>
    <NodeName Default="Hero 8" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zuhdmpgb/hero-8.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>