<?xml version="1.0" encoding="utf-8"?>
<Media Key="9dc7f8a8-9506-4105-b8b8-7089e34112e4" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-06-19T18:54:43</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>