<?xml version="1.0" encoding="utf-8"?>
<Media Key="752e5440-d7a5-46f5-bcd1-744f239fbf8a" Alias="Logo 1" Level="2">
  <Info>
    <Parent Key="9dc7f8a8-9506-4105-b8b8-7089e34112e4">Home</Parent>
    <Path>/Home/Logo1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-25T08:01:21</CreateDate>
    <NodeName Default="Logo 1" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/izkc23nf/logo-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>