<?xml version="1.0" encoding="utf-8"?>
<Media Key="7bc6a13d-f6c1-4f1b-846a-beb1c26b164b" Alias="Service 5 Thumb" Level="2">
  <Info>
    <Parent Key="7b0ea173-b635-4e56-ae51-76050efd01d7">Services</Parent>
    <Path>/Services/Service5Thumb</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-22T21:26:38</CreateDate>
    <NodeName Default="Service 5 Thumb" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hoqnm44b/service-5-thumb.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>