<?xml version="1.0" encoding="utf-8"?>
<Media Key="ca901b9a-69ad-4673-900e-6dc1eb64ba19" Alias="Service 4 Thumb" Level="2">
  <Info>
    <Parent Key="7b0ea173-b635-4e56-ae51-76050efd01d7">Services</Parent>
    <Path>/Services/Service4Thumb</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-22T21:26:26</CreateDate>
    <NodeName Default="Service 4 Thumb" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tqnjbsvn/service-4-thumb.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>