<?xml version="1.0" encoding="utf-8"?>
<Media Key="122f5ebd-79d5-4acf-9c1f-e78e020def8c" Alias="Service 6 Thumb" Level="2">
  <Info>
    <Parent Key="7b0ea173-b635-4e56-ae51-76050efd01d7">Services</Parent>
    <Path>/Services/Service6Thumb</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-22T21:27:17</CreateDate>
    <NodeName Default="Service 6 Thumb" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xnpc4ewv/service-6-thumb.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>