<?xml version="1.0" encoding="utf-8"?>
<Media Key="0265a703-2206-444c-992b-bf95d95bd089" Alias="Service 9 Thumb" Level="2">
  <Info>
    <Parent Key="7b0ea173-b635-4e56-ae51-76050efd01d7">Services</Parent>
    <Path>/Services/Service9Thumb</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-22T21:29:26</CreateDate>
    <NodeName Default="Service 9 Thumb" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/awthkaqg/service-9-thumb.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>