<?xml version="1.0" encoding="utf-8"?>
<Media Key="4609b92e-9664-4686-89fb-986484b80e92" Alias="Service 2 Thumb" Level="2">
  <Info>
    <Parent Key="7b0ea173-b635-4e56-ae51-76050efd01d7">Services</Parent>
    <Path>/Services/Service2Thumb</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-22T21:24:57</CreateDate>
    <NodeName Default="Service 2 Thumb" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fc2bsrte/service-2-thumb.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>