<?xml version="1.0" encoding="utf-8"?>
<Media Key="d7ae5e77-8a97-4898-b01a-ce47609dfdfc" Alias="Service 3 Thumb" Level="2">
  <Info>
    <Parent Key="7b0ea173-b635-4e56-ae51-76050efd01d7">Services</Parent>
    <Path>/Services/Service3Thumb</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-22T21:25:26</CreateDate>
    <NodeName Default="Service 3 Thumb" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ofpk3v2x/service-3-thumb.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>