<?xml version="1.0" encoding="utf-8"?>
<Media Key="38c7e792-c38a-4bfb-a196-1657943ea76e" Alias="Service 8 Thumb" Level="2">
  <Info>
    <Parent Key="7b0ea173-b635-4e56-ae51-76050efd01d7">Services</Parent>
    <Path>/Services/Service8Thumb</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-22T21:28:53</CreateDate>
    <NodeName Default="Service 8 Thumb" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/sttnooek/service-8-thumb.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>