<?xml version="1.0" encoding="utf-8"?>
<Media Key="7b0ea173-b635-4e56-ae51-76050efd01d7" Alias="Services" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-06-22T21:07:34</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>