<?xml version="1.0" encoding="utf-8"?>
<Media Key="61324910-3b7a-46c5-9646-d24b9ad8f3b7" Alias="Service 7 Thumb" Level="2">
  <Info>
    <Parent Key="7b0ea173-b635-4e56-ae51-76050efd01d7">Services</Parent>
    <Path>/Services/Service7Thumb</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-22T21:27:59</CreateDate>
    <NodeName Default="Service 7 Thumb" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/czedeyl0/service-7-thumb.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>