<?xml version="1.0" encoding="utf-8"?>
<Media Key="78e65755-006f-4c6a-88e6-b5a85df76b74" Alias="Service 1 Hero" Level="2">
  <Info>
    <Parent Key="7b0ea173-b635-4e56-ae51-76050efd01d7">Services</Parent>
    <Path>/Services/Service1Hero</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-22T21:07:42</CreateDate>
    <NodeName Default="Service 1 Hero" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/knlpm4dp/service-1-hero.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>