<?xml version="1.0" encoding="utf-8"?>
<Media Key="bddf578a-b0f6-4ef5-b884-77cc97376ce3" Alias="Who" Level="2">
  <Info>
    <Parent Key="c2eec815-846d-46d8-b8e4-8d9aff289384">Who</Parent>
    <Path>/Who/Who</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-22T20:32:17</CreateDate>
    <NodeName Default="Who" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rrln5ppw/who.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>