<?xml version="1.0" encoding="utf-8"?>
<Content Key="60a29f89-4ada-4027-b26a-1ad62fe28a42" Alias="Coming Soon" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ComingSoon</Path>
    <Trashed>false</Trashed>
    <ContentType>landingPage</ContentType>
    <CreateDate>2024-08-11T17:20:44</CreateDate>
    <NodeName Default="Coming Soon" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6f80336c-ea3e-4b74-815d-fe9f5417dcdd">LandingPage</Template>
  </Info>
  <Properties />
</Content>