<?xml version="1.0" encoding="utf-8"?>
<Content Key="85c23280-2e01-4aa1-b134-1dbc0ff06acd" Alias="Environmental Classification and Certification of Enterprises" Level="3">
  <Info>
    <Parent Key="c53352a1-f0b6-427c-87cd-df9a8f2c3e72">Services</Parent>
    <Path>/Home/Services/EnvironmentalClassificationAndCertificationOfEnterprises</Path>
    <Trashed>false</Trashed>
    <ContentType>service</ContentType>
    <CreateDate>2024-06-21T05:26:15</CreateDate>
    <NodeName Default="Environmental Classification and Certification of Enterprises">
      <Name Culture="en-us">Environmental Classification and Certification of Enterprises</Name>
      <Name Culture="pt-pt">Classificação e Certificação Ambiental de Empreendimentos</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pt-pt">true</Published>
    </Published>
    <Schedule />
    <Template Key="502ce4c0-70d7-4f24-9565-403614d2b1ff">Service</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value Culture="en-us"><![CDATA[Consolidated methodologies accepted by the community]]></Value>
      <Value Culture="pt-pt"><![CDATA[Metodologias consolidadas e aceites pela comunidade]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="pt-pt"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value Culture="en-us"><![CDATA[Environmental Classification and Certification of Enterprises]]></Value>
      <Value Culture="pt-pt"><![CDATA[Classificação e Certificação Ambiental de Empreendimentos]]></Value>
    </metaTitle>
    <serviceForm>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="pt-pt"><![CDATA[]]></Value>
    </serviceForm>
    <serviceFormDropdown>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="pt-pt"><![CDATA[]]></Value>
    </serviceFormDropdown>
    <serviceImage>
      <Value><![CDATA[[
  {
    "key": "5c199f07-eacd-405e-a36b-9c509454d354",
    "mediaKey": "925254b8-4e5e-4fbc-8d65-91282ba747a7"
  }
]]]></Value>
    </serviceImage>
    <serviceImages>
      <Value><![CDATA[[
  {
    "key": "e75b5d4c-f632-4c04-aa4e-0e20a655a06f",
    "mediaKey": "fdef52cb-dd17-4ca2-a65d-68623116a8d5"
  },
  {
    "key": "bec97fb1-fdad-48ed-8db9-80af57d8ac34",
    "mediaKey": "c668b861-9924-4d80-957b-72b29bc60560"
  },
  {
    "key": "19c15a4c-444b-4125-b4ef-3f31b080a507",
    "mediaKey": "0d72f539-29ea-4042-b599-1083d2ffd960"
  }
]]]></Value>
    </serviceImages>
    <serviceSubTitle>
      <Value Culture="en-us"><![CDATA[Consolidated methodologies accepted by the community]]></Value>
      <Value Culture="pt-pt"><![CDATA[Metodologias consolidadas e aceites pela comunidade]]></Value>
    </serviceSubTitle>
    <serviceText>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p>Constructions (urbanizations and buildings) can have a more or less favorable impact on the environment. There are classifications based on various environmental perspectives. Adductio may provide unofficial rankings using consolidated and community-accepted methodologies.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="pt-pt"><![CDATA[{
  "markup": "<p>As construções (urbanizações e edifícios) podem ter um impacto mais ou menos favorável para o ambiente. Existem classificações com base em várias perspetivas ambientais. A Adductio pode fornecer classificações não oficiais, utilizando metodologias consolidadas e aceites pela comunidade.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </serviceText>
    <serviceThumbnail>
      <Value><![CDATA[[
  {
    "key": "d272e27b-0109-4d12-b885-c92060066ba0",
    "mediaKey": "7bc6a13d-f6c1-4f1b-846a-beb1c26b164b"
  }
]]]></Value>
    </serviceThumbnail>
  </Properties>
</Content>