<?xml version="1.0" encoding="utf-8"?>
<Content Key="43ea0b7c-ed66-4168-9e8c-b3a9892cd084" Alias="Environmental Geology" Level="3">
  <Info>
    <Parent Key="c53352a1-f0b6-427c-87cd-df9a8f2c3e72">Services</Parent>
    <Path>/Home/Services/EnvironmentalGeology</Path>
    <Trashed>false</Trashed>
    <ContentType>service</ContentType>
    <CreateDate>2024-06-21T05:28:55</CreateDate>
    <NodeName Default="Environmental Geology">
      <Name Culture="en-us">Environmental Geology</Name>
      <Name Culture="pt-pt">Geologia Ambiental</Name>
    </NodeName>
    <SortOrder>8</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pt-pt">true</Published>
    </Published>
    <Schedule />
    <Template Key="502ce4c0-70d7-4f24-9565-403614d2b1ff">Service</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value Culture="en-us"><![CDATA[Qualified team for the assessment and mitigation of environmental geology problems]]></Value>
      <Value Culture="pt-pt"><![CDATA[Equipa qualificada para a avaliação e mitigação de problemas ambientais de geologia]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="pt-pt"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value Culture="en-us"><![CDATA[Environmental Geology]]></Value>
      <Value Culture="pt-pt"><![CDATA[Geologia Ambiental]]></Value>
    </metaTitle>
    <serviceForm>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="pt-pt"><![CDATA[]]></Value>
    </serviceForm>
    <serviceFormDropdown>
      <Value Culture="en-us"><![CDATA[Environmental Geology]]></Value>
      <Value Culture="pt-pt"><![CDATA[Geologia Ambiental]]></Value>
    </serviceFormDropdown>
    <serviceImage>
      <Value><![CDATA[[
  {
    "key": "bc0d2005-0abc-46c3-860e-603054290131",
    "mediaKey": "a522f383-7045-4fb8-8afe-5ed56f0ba35b"
  }
]]]></Value>
    </serviceImage>
    <serviceImages>
      <Value><![CDATA[[
  {
    "key": "96c6e39a-e6fe-4b3b-9a6c-100dc4ef067a",
    "mediaKey": "fdef52cb-dd17-4ca2-a65d-68623116a8d5"
  },
  {
    "key": "4db06d1c-c7c2-4c51-a25d-6f15e9ad945b",
    "mediaKey": "c668b861-9924-4d80-957b-72b29bc60560"
  },
  {
    "key": "f63c3195-31da-468c-8e7d-b196c3f0b068",
    "mediaKey": "0d72f539-29ea-4042-b599-1083d2ffd960"
  }
]]]></Value>
    </serviceImages>
    <serviceSubTitle>
      <Value Culture="en-us"><![CDATA[Qualified team for the assessment and mitigation of environmental geology problems]]></Value>
      <Value Culture="pt-pt"><![CDATA[Equipa qualificada para a avaliação e mitigação de problemas ambientais de geologia]]></Value>
    </serviceSubTitle>
    <serviceText>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p>Given that Environmental Geology's main objective is the assessment and mitigation of environmental problems related to geology, Adductio has a qualified team capable of carrying out highly important activities, such as the Assessment of Geological Risks, the Sustainable Use of Natural Resources , Environmental Impact Assessment, Territorial Planning and Land Use Management.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="pt-pt"><![CDATA[{
  "markup": "<p>Dado que a Geologia Ambiental tem como principal objetivo a avaliação e mitigação de problemas ambientais relacionados com a geologia, a Adductio dispõe de uma equipa qualificada capaz de realizar atividades de elevada importância, tais como a Avaliação de Riscos Geológicos, a Utilização Sustentável de Recursos Naturais, a Avaliação do Impacto Ambiental, o Planeamento Territorial e a Gestão do Uso da Terra.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </serviceText>
    <serviceThumbnail>
      <Value><![CDATA[[
  {
    "key": "47dcd7e1-24b2-4f8a-9696-3c1355d02653",
    "mediaKey": "0265a703-2206-444c-992b-bf95d95bd089"
  }
]]]></Value>
    </serviceThumbnail>
  </Properties>
</Content>