<?xml version="1.0" encoding="utf-8"?>
<Content Key="202f1979-783f-4c64-9393-692b64861375" Alias="Form for training" Level="2">
  <Info>
    <Parent Key="67b41068-1b78-48f2-8b8f-0e6615c30aad">Home</Parent>
    <Path>/Home/FormForTraining</Path>
    <Trashed>false</Trashed>
    <ContentType>form</ContentType>
    <CreateDate>2024-06-27T10:55:53</CreateDate>
    <NodeName Default="Form for training">
      <Name Culture="en-us">Form for training</Name>
      <Name Culture="pt-pt">Formulário para formação</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pt-pt">true</Published>
    </Published>
    <Schedule />
    <Template Key="23ea232d-d566-49db-a551-b16a21d679ec">Form</Template>
  </Info>
  <Properties>
    <formTheme>
      <Value><![CDATA[]]></Value>
    </formTheme>
    <trainingForm>
      <Value Culture="en-us"><![CDATA[b48560f0-cde1-4239-a610-f67e1320f964]]></Value>
      <Value Culture="pt-pt"><![CDATA[b48560f0-cde1-4239-a610-f67e1320f964]]></Value>
    </trainingForm>
  </Properties>
</Content>