<?xml version="1.0" encoding="utf-8"?>
<Content Key="c0e96927-9cd3-4813-9f85-9ac7ddc9103a" Alias="Preparation of Global Studies and Projects" Level="3">
  <Info>
    <Parent Key="c53352a1-f0b6-427c-87cd-df9a8f2c3e72">Services</Parent>
    <Path>/Home/Services/PreparationOfGlobalStudiesAndProjects</Path>
    <Trashed>false</Trashed>
    <ContentType>service</ContentType>
    <CreateDate>2024-06-21T05:27:01</CreateDate>
    <NodeName Default="Preparation of Global Studies and Projects">
      <Name Culture="en-us">Preparation of Global Studies and Projects</Name>
      <Name Culture="pt-pt">Elaboração de Estudos e Projectos Globais</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pt-pt">true</Published>
    </Published>
    <Schedule />
    <Template Key="502ce4c0-70d7-4f24-9565-403614d2b1ff">Service</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value Culture="en-us"><![CDATA[The development of global projects is Adductio’s main objective.]]></Value>
      <Value Culture="pt-pt"><![CDATA[A elaboração de projetos globais é o principal objetivo da Adductio. ]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="pt-pt"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value Culture="en-us"><![CDATA[Preparation of Global Studies and Projects]]></Value>
      <Value Culture="pt-pt"><![CDATA[Elaboração de Estudos e Projectos Globais]]></Value>
    </metaTitle>
    <serviceForm>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="pt-pt"><![CDATA[]]></Value>
    </serviceForm>
    <serviceFormDropdown>
      <Value Culture="en-us"><![CDATA[Preparation of Global Studies and Projects]]></Value>
      <Value Culture="pt-pt"><![CDATA[Elaboração de Estudos e Projectos Globais]]></Value>
    </serviceFormDropdown>
    <serviceImage>
      <Value><![CDATA[[
  {
    "key": "b18e67dc-8897-44d5-8420-50151d812730",
    "mediaKey": "dc9c269b-7c7f-4fa2-a00a-f39dd4ac3880"
  }
]]]></Value>
    </serviceImage>
    <serviceImages>
      <Value><![CDATA[[
  {
    "key": "2c992ed6-a524-4257-be0a-9574c2cadc03",
    "mediaKey": "c668b861-9924-4d80-957b-72b29bc60560"
  },
  {
    "key": "278fa98b-fb82-46f0-899d-a7e997479033",
    "mediaKey": "fdef52cb-dd17-4ca2-a65d-68623116a8d5"
  },
  {
    "key": "9a0b25ff-1c45-4b37-a382-5bbac3d5a7a4",
    "mediaKey": "0d72f539-29ea-4042-b599-1083d2ffd960"
  }
]]]></Value>
    </serviceImages>
    <serviceSubTitle>
      <Value Culture="en-us"><![CDATA[The main objective of Adductio]]></Value>
      <Value Culture="pt-pt"><![CDATA[O principal objetivo da Adductio]]></Value>
    </serviceSubTitle>
    <serviceText>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p>The development of global projects is Adductio’s main objective.</p>\n<p>The projects, divided into written documents and drawings, include descriptive memories and justifications, measurement and budgeting of the work to be carried out, drawings, specifications, specifications, environmental management, waste management and possible licensing.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="pt-pt"><![CDATA[{
  "markup": "<p>A elaboração de projetos globais é o principal objetivo da Adductio.</p>\n<p>Os projetos, divididos em documentos escritos e desenhos, englobam memórias descritivas e justificativas, medição e orçamentação dos trabalhos a executar, desenhos, especificações, cadernos de encargos, gestão ambiental, gestão de resíduos e eventuais licenciamentos.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </serviceText>
    <serviceThumbnail>
      <Value><![CDATA[[
  {
    "key": "088b1a5a-36ec-4330-9039-649b66b2fc1b",
    "mediaKey": "122f5ebd-79d5-4acf-9c1f-e78e020def8c"
  }
]]]></Value>
    </serviceThumbnail>
  </Properties>
</Content>