<?xml version="1.0" encoding="utf-8"?>
<Content Key="07ebdea0-79b2-4955-be0d-341c76c5528c" Alias="Procurement" Level="3">
  <Info>
    <Parent Key="c53352a1-f0b6-427c-87cd-df9a8f2c3e72">Services</Parent>
    <Path>/Home/Services/Procurement</Path>
    <Trashed>false</Trashed>
    <ContentType>service</ContentType>
    <CreateDate>2024-06-21T05:24:34</CreateDate>
    <NodeName Default="Procurement">
      <Name Culture="en-us">Procurement</Name>
      <Name Culture="pt-pt">Procurement</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pt-pt">true</Published>
    </Published>
    <Schedule />
    <Template Key="502ce4c0-70d7-4f24-9565-403614d2b1ff">Service</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value Culture="en-us"><![CDATA[Digital platform with integrated sanitary engineering solutions]]></Value>
      <Value Culture="pt-pt"><![CDATA[Plataforma digital com soluções integradas da engenharia sanitária]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="pt-pt"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value Culture="en-us"><![CDATA[Procurement]]></Value>
      <Value Culture="pt-pt"><![CDATA[Procurement 3E]]></Value>
    </metaTitle>
    <serviceForm>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="pt-pt"><![CDATA[]]></Value>
    </serviceForm>
    <serviceFormDropdown>
      <Value Culture="en-us"><![CDATA[Procurement]]></Value>
      <Value Culture="pt-pt"><![CDATA[Procurement]]></Value>
    </serviceFormDropdown>
    <serviceImage>
      <Value><![CDATA[[
  {
    "key": "23020955-d9d3-4791-83d1-e8f03f72c0ca",
    "mediaKey": "5496f39e-688b-4168-9d5a-9bf33642ca94"
  }
]]]></Value>
    </serviceImage>
    <serviceImages>
      <Value><![CDATA[[
  {
    "key": "b454841e-c737-4979-9320-4db7a761a57b",
    "mediaKey": "0d72f539-29ea-4042-b599-1083d2ffd960"
  },
  {
    "key": "70b50bce-71bc-4e61-b660-bf28981b7a35",
    "mediaKey": "c668b861-9924-4d80-957b-72b29bc60560"
  },
  {
    "key": "2b257a02-6cea-41ce-9089-aef78fd75f28",
    "mediaKey": "fdef52cb-dd17-4ca2-a65d-68623116a8d5"
  }
]]]></Value>
    </serviceImages>
    <serviceSubTitle>
      <Value Culture="en-us"><![CDATA[Digital platform with integrated sanitary engineering solutions]]></Value>
      <Value Culture="pt-pt"><![CDATA[Plataforma digital com soluções integradas da engenharia sanitária]]></Value>
    </serviceSubTitle>
    <serviceText>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p>Environmental Engineering Electronic (3E) Procurement, is a Digital Platform that offers access to an online consultation of equipment with specific dimensions and characteristics, whose output are Characteristic Sheets with the technical information of the desired equipment in a summarized form, as well as the associated catalogs of the various Brands, Manufacturers and Suppliers.</p>\n<p>This Digital Platform presents a universality of integrated sanitary engineering solutions, bringing Customer Demand closer to the Market Offer, anywhere in the world. That is, any Supplier can place their offer (equipment) and any Customer can consult this and other offers related to the equipment they want.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="pt-pt"><![CDATA[{
  "markup": "<p>Environmental Engineering Electronic (3E) Procurement, é uma Plataforma Digital que oferece o acesso a uma consulta online de equipamentos com dimensões e características específicas, cujo output são Folhas de Características com a informação técnica do equipamento pretendido de forma resumida, assim como os catálogos associados das diversas Marcas, Fabricantes e Fornecedores.</p>\n<p>Esta Plataforma Digital apresenta uma universalidade de soluções integradas da engenharia sanitária, aproximando a Procura dos Clientes, à Oferta de Mercado, em qualquer parte do mundo. Isto é, qualquer Fornecedor pode colocar a sua oferta (equipamento) e qualquer Cliente pode consultar essa e outras ofertas relacionadas com o equipamento que pretende.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </serviceText>
    <serviceThumbnail>
      <Value><![CDATA[[
  {
    "key": "a26c5ec6-e02d-425e-9904-629bf665170c",
    "mediaKey": "4609b92e-9664-4686-89fb-986484b80e92"
  }
]]]></Value>
    </serviceThumbnail>
  </Properties>
</Content>