<?xml version="1.0" encoding="utf-8"?>
<Content Key="1b047173-9038-4d86-9e41-2515c75ea3f4" Alias="Project Review" Level="3">
  <Info>
    <Parent Key="c53352a1-f0b6-427c-87cd-df9a8f2c3e72">Services</Parent>
    <Path>/Home/Services/ProjectReview</Path>
    <Trashed>false</Trashed>
    <ContentType>service</ContentType>
    <CreateDate>2024-06-21T05:23:53</CreateDate>
    <NodeName Default="Project Review">
      <Name Culture="en-us">Project Review</Name>
      <Name Culture="pt-pt">Revisão de Projectos</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pt-pt">true</Published>
    </Published>
    <Schedule />
    <Template Key="502ce4c0-70d7-4f24-9565-403614d2b1ff">Service</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value Culture="en-us"><![CDATA[Qualified team for the global review of implementation projects]]></Value>
      <Value Culture="pt-pt"><![CDATA[Equipa qualificada para a revisão global de projectos de execução]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="pt-pt"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value Culture="en-us"><![CDATA[3E Project Review]]></Value>
      <Value Culture="pt-pt"><![CDATA[Revisão de Projectos 3E]]></Value>
    </metaTitle>
    <serviceForm>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="pt-pt"><![CDATA[]]></Value>
    </serviceForm>
    <serviceFormDropdown>
      <Value Culture="en-us"><![CDATA[3E Project Review]]></Value>
      <Value Culture="pt-pt"><![CDATA[Revisão de Projectos 3E]]></Value>
    </serviceFormDropdown>
    <serviceImage>
      <Value><![CDATA[[
  {
    "key": "3ee17679-93ef-44bb-9847-8b00cd47c742",
    "mediaKey": "78e65755-006f-4c6a-88e6-b5a85df76b74"
  }
]]]></Value>
    </serviceImage>
    <serviceImages>
      <Value><![CDATA[[
  {
    "key": "c259788c-5e22-4eac-8e13-45e8836090a6",
    "mediaKey": "fdef52cb-dd17-4ca2-a65d-68623116a8d5"
  },
  {
    "key": "0ab86979-05f8-4b17-bc4f-ab7feb4dd705",
    "mediaKey": "c668b861-9924-4d80-957b-72b29bc60560"
  },
  {
    "key": "0667a6df-ead4-4ffc-b269-419d4167c01b",
    "mediaKey": "0d72f539-29ea-4042-b599-1083d2ffd960"
  }
]]]></Value>
    </serviceImages>
    <serviceSubTitle>
      <Value Culture="en-us"><![CDATA[Qualified team for the global review of implementation projects]]></Value>
      <Value Culture="pt-pt"><![CDATA[Equipa qualificada para a revisão global de projectos de execução]]></Value>
    </serviceSubTitle>
    <serviceText>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p>With the entry into force of Decree-Law no. 111-B/2017, the owner of public works is required to carry out a prior review of the execution project, when the work is classified in category III or higher, or when the base price of the work is classified as license class 3 or higher.</p>\n<p>Adductio is duly trained and has a qualified team at its disposal for the global review of execution projects: suppression of errors and omissions, optimization of construction costs, detailing and compatibility between the designed parts of the various most critical specialties of the project.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="pt-pt"><![CDATA[{
  "markup": "<p>Com a entrada em vigor do Decreto-Lei n.º 111-B/2017 é exigido ao dono de obras públicas uma prévia revisão do projecto de execução, quando a obra seja classificada na categoria III ou superior, ou quando o preço base da obra seja enquadrável em classe 3 de alvará ou superior.</p>\n<p>A Adductio está devidamente capacitada e tem ao seu dispor uma equipa qualificada para a revisão global de projectos de execução: supressão de erros e omissões, optimização de custos de construção, pormenorização e compatibilização entre as peças desenhadas das diversas especialidades mais críticas do projecto.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </serviceText>
    <serviceThumbnail>
      <Value><![CDATA[[
  {
    "key": "de168812-13d5-43c7-a9d5-5792532c6c16",
    "mediaKey": "ef5adb81-eddc-4965-be1e-3239c98d3d35"
  }
]]]></Value>
    </serviceThumbnail>
  </Properties>
</Content>