<?xml version="1.0" encoding="utf-8"?>
<Content Key="c53352a1-f0b6-427c-87cd-df9a8f2c3e72" Alias="Services" Level="2">
  <Info>
    <Parent Key="67b41068-1b78-48f2-8b8f-0e6615c30aad">Home</Parent>
    <Path>/Home/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>services</ContentType>
    <CreateDate>2024-06-21T05:21:30</CreateDate>
    <NodeName Default="Services">
      <Name Culture="en-us">Services</Name>
      <Name Culture="pt-pt">Serviços</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pt-pt">true</Published>
    </Published>
    <Schedule />
    <Template Key="96bccce4-0bf0-42c9-acfe-64b87eaf5f6a">Services</Template>
  </Info>
  <Properties />
</Content>