<?xml version="1.0" encoding="utf-8"?>
<Content Key="e5eb7291-3d07-46a4-9a56-1520751b1a52" Alias="Thank you" Level="3">
  <Info>
    <Parent Key="202f1979-783f-4c64-9393-692b64861375">Form for training</Parent>
    <Path>/Home/FormForTraining/ThankYou</Path>
    <Trashed>false</Trashed>
    <ContentType>thankYou</ContentType>
    <CreateDate>2024-08-25T05:54:21</CreateDate>
    <NodeName Default="Thank you">
      <Name Culture="en-us">Thank you</Name>
      <Name Culture="pt-pt">Obrigado</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pt-pt">true</Published>
    </Published>
    <Schedule />
    <Template Key="8c3f6ffe-3239-4d89-9123-d265b5cfd245">ThankYou</Template>
  </Info>
  <Properties>
    <thankYouText>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac orci ut nibh eleifend malesuada.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="pt-pt"><![CDATA[{
  "markup": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac orci ut nibh eleifend malesuada.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </thankYouText>
  </Properties>
</Content>