<?xml version="1.0" encoding="utf-8"?>
<Content Key="8000f1c5-dbea-4b61-ad9a-f99b072891d8" Alias="Thank you" Level="3">
  <Info>
    <Parent Key="8e854860-af9c-4269-b051-1025f569863d">Contacts</Parent>
    <Path>/Home/Contacts/ThankYou</Path>
    <Trashed>false</Trashed>
    <ContentType>thankYou</ContentType>
    <CreateDate>2024-08-25T05:55:22</CreateDate>
    <NodeName Default="Thank you">
      <Name Culture="en-us">Thank you</Name>
      <Name Culture="pt-pt">Obrigado</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pt-pt">true</Published>
    </Published>
    <Schedule />
    <Template Key="8c3f6ffe-3239-4d89-9123-d265b5cfd245">ThankYou</Template>
  </Info>
  <Properties>
    <thankYouText>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac orci ut nibh eleifend malesuada.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="pt-pt"><![CDATA[{
  "markup": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac orci ut nibh eleifend malesuada.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </thankYouText>
  </Properties>
</Content>