<?xml version="1.0" encoding="utf-8"?>
<Content Key="7f7070de-dd14-47e8-8e23-8d3ffe5010ab" Alias="Training" Level="3">
  <Info>
    <Parent Key="c53352a1-f0b6-427c-87cd-df9a8f2c3e72">Services</Parent>
    <Path>/Home/Services/Training</Path>
    <Trashed>false</Trashed>
    <ContentType>service</ContentType>
    <CreateDate>2024-06-21T05:27:39</CreateDate>
    <NodeName Default="Training">
      <Name Culture="en-us">Training</Name>
      <Name Culture="pt-pt">Formação</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="pt-pt">true</Published>
    </Published>
    <Schedule />
    <Template Key="502ce4c0-70d7-4f24-9565-403614d2b1ff">Service</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="pt-pt"><![CDATA[Desenvolver competências na área da Engenharia Sanitária]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="pt-pt"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTitle>
      <Value Culture="en-us"><![CDATA[Training]]></Value>
      <Value Culture="pt-pt"><![CDATA[Formação]]></Value>
    </metaTitle>
    <serviceForm>
      <Value Culture="en-us"><![CDATA[[
  {
    "udi": "umb://document/202f1979783f4c649393692b64861375"
  }
]]]></Value>
      <Value Culture="pt-pt"><![CDATA[[
  {
    "udi": "umb://document/202f1979783f4c649393692b64861375"
  }
]]]></Value>
    </serviceForm>
    <serviceFormDropdown>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="pt-pt"><![CDATA[]]></Value>
    </serviceFormDropdown>
    <serviceImage>
      <Value><![CDATA[[
  {
    "key": "8a979779-55a5-4510-982a-b2ebb9b9aeaa",
    "mediaKey": "df48e3a7-9b39-4516-9347-4442edfcb760"
  }
]]]></Value>
    </serviceImage>
    <serviceImages>
      <Value><![CDATA[[]]]></Value>
    </serviceImages>
    <serviceSubTitle>
      <Value Culture="en-us"><![CDATA[Develop skills in the area of ​​Sanitary Engineering]]></Value>
      <Value Culture="pt-pt"><![CDATA[Desenvolver competências na área da Engenharia Sanitária]]></Value>
    </serviceSubTitle>
    <serviceText>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p>The training aims to enable the trainee to acquire the necessary skills to perform specific tasks in the area of ​​Sanitary Engineering, allowing them to improve their knowledge and develop professionally.</p>\n<p>Courses:</p>\n<ul>\n<li>Home composting for non-techies;</li>\n<li>Automation;</li>\n<li>Construction and Demolition Waste Management Plans;</li>\n<li>BIM;</li>\n<li>Procurement;</li>\n<li>Disinfection in project detail;</li>\n<li>Microplastics and their control;</li>\n<li>Project licensing processes;</li>\n<li>Reuse of wastewater;</li>\n<li>Exploration procedures in sanitary engineering;</li>\n<li>Dynamic modeling of drainage systems;</li>\n<li>Desalination of sea water;</li>\n<li>Watershed plans;</li>\n</ul>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="pt-pt"><![CDATA[{
  "markup": "<p>A formação tem como objetivo capacitar o formando a adquirir as competências necessárias para desempenhar tarefas específicas na área de Engenharia Sanitária, permitindo-lhe aperfeiçoar o seu conhecimento e desenvolver-se profissionalmente.</p>\n<p>Cursos:</p>\n<ul>\n<li>Compostagem doméstica para não técnicos ;</li>\n<li>Automação ;</li>\n<li>Planos de Gestão de Resíduos da Construção e de Demolição;</li>\n<li>BIM;</li>\n<li>Procurement;</li>\n<li>A desinfecção em detalhe de projecto;</li>\n<li>Os micropláticos e o seu controlo;</li>\n<li>Processos de licenciamento em projecto;</li>\n<li>Reutilização de águas residuais ;</li>\n<li>Procedimentos de exploração em engenharia sanitária;</li>\n<li>Modelação dinâmica de sistemas de drenagem;</li>\n<li>Dessalinização da água do mar;</li>\n<li>Planos de bacias hidrográficas;</li>\n</ul>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </serviceText>
    <serviceThumbnail>
      <Value><![CDATA[[
  {
    "key": "5db3acb1-5980-4a24-99da-f839cc9dc996",
    "mediaKey": "61324910-3b7a-46c5-9646-d24b9ad8f3b7"
  }
]]]></Value>
    </serviceThumbnail>
  </Properties>
</Content>